* {
    box-sizing: border-box;
}

.events-wrapper {
    max-width: 80%;
    margin: 0 auto;
}

.events-wrapper .event-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.events-wrapper .event-list .event-wrapper {
    flex-basis: 33.33333%;
    padding: 2rem 1rem;
}

.events-wrapper .event-list .event-wrapper .event {
    background-color: #dfdfdf;
    padding: 1rem 1.5rem;
    height: 100%;
}

.events-wrapper .event-list .event-wrapper .event img {
    max-width: 100%;
    height: auto;
}

.topics-wrapper {
    max-width: 80%;
    margin: 0 auto;
}
